In [1]:
import pandas as pd

## Import data

In [2]:
df_ori = pd.read_csv("../workana_scraping/data/data_t.csv")
df = df_ori.copy()

In [3]:
df.shape

(449, 127)

In [4]:
df.head(3)

,Job,Publish Date,Skills,Budget,Bids,Summary,Link,Category,Subcategory,3DRendering,...,Vendas,WebDesign,WebScraping,Wix,WordPress,YouTube,['N/I'],iOS,iPhone,vtiger
0,Design para Marketing em mídias sociais,2023-05-11 14:53:00,"DesignGráfico,AdobeIllustrator,AdobePhotoshop",Mais de USD 45 / hora,2,"Desenvolver peças de campanhas para Instagram,...",https://www.workana.com/job/design-para-market...,Design e Multimedia,Imagens para redes sociais,0,...,0,0,0,0,0,0,0,0,0,0
1,Desenvolvimento de Ferramenta Para Checkout We...,2023-05-11 12:50:00,"Magento,PHP,WordPress",USD 1.000 - 3.000,4,Procuro dev full stack para projeto de desenvo...,https://www.workana.com/job/desenvolvimento-de...,TI e Programação,Lojas Virtuais (e-commerce),0,...,0,0,0,0,1,0,0,0,0,0
2,Procura-se gestor de tráfego para parceria rec...,2023-05-09 21:02:00,"Facebook,GoogleAdWords,MarketingOnline",USD 15 - 45 / hora,41,A agência precisa de um gestor de tráfego que ...,https://www.workana.com/job/procura-se-gestor-...,N/I,N/I,0,...,0,0,0,0,0,0,0,0,0,0

## Sort by Date

In [5]:
# fixing type
df["Publish Date"] = pd.to_datetime(df["Publish Date"])


# acertando o fuso
df["Publish Date"] = df["Publish Date"] - pd.Timedelta(hours=3)

In [6]:
df["Publish Date"].dtype

dtype('<M8[ns]')

In [7]:
df = df.sort_values(by="Publish Date", ascending=False)
df.head(1)

,Job,Publish Date,Skills,Budget,Bids,Summary,Link,Category,Subcategory,3DRendering,...,Vendas,WebDesign,WebScraping,Wix,WordPress,YouTube,['N/I'],iOS,iPhone,vtiger
3,Montar 500 Imagens De Capa Para Anuncios De Pr...,2023-05-11 12:46:00,AdobePhotoshop,USD 50 - 100,0,O trabalho consiste em montar 500 imagens de c...,https://www.workana.com/job/montar-500-imagens...,N/I,N/I,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.shape

(449, 127)

## Filter data

### by Category

In [9]:
df["Category"].value_counts()

Category
Design e Multimedia         140
N/I                         133
TI e Programação             97
Marketing e Vendas           40
Tradução e conteúdos         19
Engenharia e Manufatura      11
Finanças e Administração      5
Suporte Administrativo        4
Name: count, dtype: int64

In [ ]:
# create df by Category
categories = df["Category"].unique()

df_category = {}

for category in categories:
    df_category[category] = df[df["Category"] == category]
    print(f"{category}:", df_category[category].shape[0])

In [ ]:
df.shape

### by SubCategory

In [ ]:
df["Subcategory"].value_counts()

In [ ]:
# create df by Category
subcategory = df["Subcategory"].unique()

df_sub = {}

for sub in subcategory:
    df_sub[sub] = df[df["Subcategory"] == sub]
    print(f"{sub}:", df_sub[sub].shape[0])

In [ ]:
df.shape

### by Bids

by Bis < 5

In [ ]:
df_bid5 = df.loc[df["Bids"] < 5]
df_bid5.shape

by Bis < 10

In [ ]:
df_bid10 = df.loc[df["Bids"] < 10]
df_bid10.shape

### by Time

Ultimos 5 minutos

In [ ]:
# Subtraindo 5 minutos da data atual
cinco_min_antes = pd.Timestamp.now() - pd.Timedelta(minutes=5)

# Filtrando as linhas adicionadas nos últimos 5 minutos
df_5min = df[df["Publish Date"] >= cinco_min_antes]

In [ ]:
df_5min.shape

by Last hour

In [ ]:
# Subtraindo 1h da data atual
last_hour = pd.Timestamp.now() - pd.Timedelta(hours=1)

# Filtrando as linhas adicionadas nos últimos 5 minutos
df_lastHour = df[df["Publish Date"] >= last_hour]

In [ ]:
df_lastHour.shape

In [ ]:
df_lastHour

## by Skills

In [ ]:
# all skills
print(df.columns.to_list()[9:])

In [ ]:
# contando valores positivos em cada coluna dummy
for col in df.columns[9:]:
    count = df[col].sum()
    print(f"Coluna {col} tem {count} valores positivos")

In [ ]:
df[df["iOS"] == 1]

In [ ]:
df.head(5)

In [ ]:
df