# Exploratory analysis and data processing

In [46]:
# import libs
import pandas as pd

## Getting data

In [47]:
# read csv
df_raw = pd.read_csv("../workana_scraping/data/data_raw.csv")

# check shape
df_raw.shape

(450, 7)

In [48]:
# create a copy from original data
df = df_raw.copy()

# check shape
df_raw.shape

(450, 7)

## Knowing dataframe

In [49]:
# check shape
df.shape

(450, 7)

In [50]:
# check df info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job           450 non-null    object
 1   Publish Date  450 non-null    object
 2   Skills        450 non-null    object
 3   Budget        450 non-null    object
 4   Bids          450 non-null    object
 5   Summary       450 non-null    object
 6   Link          450 non-null    object
dtypes: object(7)
memory usage: 24.7+ KB

In [51]:
# check data types
df.dtypes

Job             object
Publish Date    object
Skills          object
Budget          object
Bids            object
Summary         object
Link            object
dtype: object

In [52]:
# count not null
df.count()

Job             450
Publish Date    450
Skills          450
Budget          450
Bids            450
Summary         450
Link            450
dtype: int64

In [53]:
# search for null
for c in df.columns:
    try:
        num_nulls = df.shape[0] - df[c].count()
        print(f"Valores nulos na coluna {c}:", num_nulls)
    except:
        print(f"Erros encontrados na coluna {c}:")

Valores nulos na coluna Job: 0
Valores nulos na coluna Publish Date: 0
Valores nulos na coluna Skills: 0
Valores nulos na coluna Budget: 0
Valores nulos na coluna Bids: 0
Valores nulos na coluna Summary: 0
Valores nulos na coluna Link: 0

In [54]:
# if error, drop line
# df = df.drop(df[df['Bids'] == 'Erro no orçamento 10 da página5'].index)
df = df.drop(df[df["Bids"].str.contains("Erro no orçamento")].index)

In [55]:
# change Bids to int type
df["Bids"] = df["Bids"].astype(int)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 449 entries, 0 to 449
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job           449 non-null    object
 1   Publish Date  449 non-null    object
 2   Skills        449 non-null    object
 3   Budget        449 non-null    object
 4   Bids          449 non-null    int64
 5   Summary       449 non-null    object
 6   Link          449 non-null    object
dtypes: int64(1), object(6)
memory usage: 28.1+ KB
None

In [56]:
df.shape

(449, 7)

## Change types

### Bids column

In [57]:
# if error, drop line
df = df.drop(df[df["Bids"] == "Erro no orçamento 10 da página5"].index)

In [58]:
# change Bids to int type
df["Bids"] = df["Bids"].astype(int)

### Publish Date column

In [59]:
# dict pt x en
months = {
    "Janeiro": "January",
    "Fevereiro": "February",
    "Março": "March",
    "Abril": "April",
    "Maio": "May",
    "Junho": "June",
    "Julho": "July",
    "Agosto": "August",
    "Setembro": "September",
    "Outubro": "October",
    "Novembro": "November",
    "Dezembro": "December",
}

In [60]:
# replaces month names in portuguese with their english equivalents
for m_pt, m_en in months.items():
    df["Publish Date"] = df["Publish Date"].str.replace(m_pt, m_en)
    df["Publish Date"] = df["Publish Date"].str.replace(" de ", " ")

# change type
df["Publish Date"] = pd.to_datetime(df["Publish Date"], format="%d %B %Y %H:%M")
df["Publish Date"]

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 449 entries, 0 to 449
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job           449 non-null    object
 1   Publish Date  449 non-null    datetime64[ns]
 2   Skills        449 non-null    object
 3   Budget        449 non-null    object
 4   Bids          449 non-null    int64
 5   Summary       449 non-null    object
 6   Link          449 non-null    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 28.1+ KB
None

In [61]:
df.shape

(449, 7)

## Create Category & Subcategory columns

In [62]:
# where exists 'Categoria'
count_cat = df[df["Summary"].str.contains("Categoria")].index.tolist()
print(f'A palavra "Categoria" aparece nas linhas: {count_cat}')

A palavra "Categoria" aparece nas linhas: [0, 1, 7, 8, 9, 10, 11, 12, 15, 18, 19, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 36, 37, 38, 39, 40, 41, 43, 45, 46, 48, 49, 50, 51, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100, 101, 102, 103, 105, 108, 109, 110, 111, 112, 113, 114, 115, 117, 118, 119, 121, 123, 124, 126, 127, 130, 131, 132, 133, 134, 135, 136, 137, 138, 142, 143, 144, 145, 146, 148, 150, 151, 153, 154, 156, 157, 158, 160, 161, 162, 163, 164, 165, 168, 169, 170, 171, 172, 173, 174, 176, 178, 179, 180, 181, 182, 183, 189, 190, 191, 192, 193, 194, 198, 199, 200, 201, 202, 206, 207, 208, 209, 210, 213, 214, 216, 217, 218, 219, 221, 222, 223, 225, 226, 227, 229, 230, 231, 232, 233, 234, 235, 237, 238, 240, 241, 243, 244, 245, 247, 248, 249, 252, 253, 255, 256, 258, 259, 260, 261, 262, 263, 264, 265, 266, 268, 270, 271, 274, 278, 279, 280, 281, 282, 283, 287, 288, 289, 290, 291, 292, 293, 295, 296, 297, 298, 299, 300, 302, 303, 304, 306, 307, 309, 311, 313, 315, 316, 317, 319, 320, 321, 323, 324, 325, 326, 329, 331, 332, 333, 334, 336, 338, 342, 343, 344, 347, 348, 349, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 363, 364, 365, 366, 367, 369, 370, 371, 372, 373, 375, 378, 379, 380, 381, 382, 383, 385, 386, 387, 388, 391, 392, 394, 396, 397, 398, 399, 401, 403, 405, 406, 407, 408, 409, 410, 412, 414, 415, 416, 417, 418, 421, 423, 424, 426, 428, 429, 431, 432, 433, 434, 435, 436, 437, 438, 440, 441, 442, 443, 444, 446, 447, 448]

In [63]:
# where exists 'Subategoria'
count_subcat = df[df["Summary"].str.contains("Subcategoria")].index.tolist()
print(f'A palavra "Categoria" aparece nas linhas: {count_subcat}')

A palavra "Categoria" aparece nas linhas: [0, 1, 7, 8, 9, 10, 11, 12, 15, 18, 19, 21, 23, 25, 27, 28, 29, 31, 32, 33, 36, 37, 38, 39, 41, 43, 45, 46, 48, 49, 50, 51, 53, 55, 58, 59, 60, 61, 62, 63, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 97, 99, 100, 102, 103, 105, 108, 109, 110, 111, 112, 113, 114, 115, 117, 118, 119, 123, 124, 126, 127, 130, 131, 132, 134, 135, 137, 142, 143, 144, 145, 146, 148, 150, 151, 153, 154, 156, 157, 158, 160, 161, 162, 163, 164, 165, 168, 169, 170, 171, 172, 173, 174, 176, 178, 179, 180, 182, 183, 189, 190, 191, 192, 193, 194, 198, 200, 201, 202, 206, 207, 209, 210, 213, 214, 216, 217, 218, 219, 222, 223, 225, 227, 229, 230, 231, 232, 233, 234, 237, 238, 240, 241, 243, 244, 245, 247, 248, 249, 252, 255, 256, 258, 259, 260, 261, 262, 263, 264, 265, 266, 268, 270, 271, 274, 278, 279, 280, 281, 282, 287, 288, 289, 290, 291, 292, 293, 295, 296, 297, 298, 299, 300, 302, 303, 304, 307, 309, 311, 313, 315, 316, 317, 319, 320, 321, 323, 324, 325, 326, 329, 331, 332, 333, 334, 336, 338, 342, 343, 344, 347, 348, 349, 351, 352, 353, 354, 355, 356, 357, 358, 359, 361, 363, 364, 365, 366, 367, 369, 370, 372, 373, 375, 378, 379, 380, 381, 382, 383, 385, 386, 387, 388, 391, 392, 394, 396, 398, 399, 401, 405, 406, 407, 408, 409, 410, 412, 414, 416, 417, 418, 421, 423, 426, 428, 429, 431, 432, 434, 435, 436, 437, 438, 440, 441, 442, 443, 444, 446, 447, 448]

In [64]:
# extract data
df["Category"] = df["Summary"].str.extract("Categoria:\s*(.*)\n")
df["Subcategory"] = df["Summary"].str.extract("Subcategoria:\s*(.*)\n")

df[["Category", "Subcategory"]] = df[["Category", "Subcategory"]].fillna("N/I")

In [65]:
# remove after line break
df["Summary"] = df["Summary"].str.split("\n").str[0]

In [66]:
df.shape

(449, 9)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 449 entries, 0 to 449
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job           449 non-null    object
 1   Publish Date  449 non-null    datetime64[ns]
 2   Skills        449 non-null    object
 3   Budget        449 non-null    object
 4   Bids          449 non-null    int64
 5   Summary       449 non-null    object
 6   Link          449 non-null    object
 7   Category      449 non-null    object
 8   Subcategory   449 non-null    object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 35.1+ KB

## Create dummy columns from Skills

In [68]:
# Replace substring - exclude spaces -ok
df["Skills"] = df["Skills"].replace(" ", "", regex=True)
# df.head(1)

In [69]:
# create dummy columns
df = pd.concat([df, df["Skills"].str.get_dummies(sep=",")], axis=1)
if "+" in df.columns:
    df.drop("+", axis=1, inplace=True)
# df.shape

In [70]:
df.shape

(449, 127)

In [71]:
df.head(1)

,Job,Publish Date,Skills,Budget,Bids,Summary,Link,Category,Subcategory,3DRendering,...,Vendas,WebDesign,WebScraping,Wix,WordPress,YouTube,['N/I'],iOS,iPhone,vtiger
0,Design para Marketing em mídias sociais,2023-05-11 14:53:00,"DesignGráfico,AdobeIllustrator,AdobePhotoshop",Mais de USD 45 / hora,2,"Desenvolver peças de campanhas para Instagram,...",https://www.workana.com/job/design-para-market...,Design e Multimedia,Imagens para redes sociais,0,...,0,0,0,0,0,0,0,0,0,0

## Export data

In [72]:
# create csv
df.to_csv("../workana_scraping/data/data_t.csv", index=False)